body {
    background: radial-gradient(#9c7da3 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #9c7da3 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #9c7da3 49% 51%, transparent 51%);
        background-size: 2em 2em;
        background-color: #ffffff;
        opacity: 1
}